#carouselExampleRide{
    width: 500px;
    height: 700px;
    top: -400px;
    left: 800px;
    display: block;
}
#btn-1{
    color: rgb(255, 85, 0);
    background-color: rgb(247, 197, 103);
    border-radius: 20px;
    height: 35px;
    margin-top: 5px;
    border: 0px;
    font-size: bold;
}
#location{
    display: flex;
    background-color: rgba(164, 163, 163, 0.242);
    border-radius: 20px;
    gap: 10px;
    padding-left: 20px;
    justify-items: center;
}
#facilities{
    display: flex;
    gap: 20px;
}
#facilities p{
   padding-top: 15px;
}
#id{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
#second-part{
    box-shadow: 1px 3px 8px black;
    position: absolute;
    padding-top: 10px;
    border-radius: 10px;
    top: 130px;
    width: 600px;
    left: 750px;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
#second-part p {
    line-height: 5px;
    margin-top: 5px;
}
#suggest-property{
    background-color: aliceblue;
    width: 50px;
    height: 30px;
    display: flex;

}
@media screen and (max-width:450px) {
    #carouselExampleRide{
        margin-top: 15px;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
}