body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#body-section{
    display: block;
}
@media screen and (max-width:450px) {
    body{
        /* overflow-x: hiden; */
    }
    #post-sec{
       top: 1000px; 
    }
}